.emoji-1 {
  font-size: 30px;
}
.emoji-2 {
  font-size: 20px;
}
.emoji-3 {
  font-size: 10px;
}
.emoji-4 {
  font-size: 80px;
}
.emoji-5 {
  font-size: 100px;
}
.emoji-6 {
  font-size: 20px;
}
.emoji-7 {
  font-size: 25px;
}
.emoji-8 {
  font-size: 7px;
}
.emoji-9 {
  font-size: 10px;
}
.emoji-10 {
  font-size: 90px;
}
